<!DOCTYPE HTML>
<html>
<head>
    <title>Payment - Demo</title>
    <th:block th:fragment="resources">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </th:block>
</head>
<body><div class="container">
<h1>Payment Demo Pages</h1>
<br>

<div id="links">
    <hr/>

    <h3>Paypal - 綁定/儲存支付方式</h3>
    <a href="/paypal-save-customer">Paypal 綁定/儲存支付方式</a><br/>
    <a href="/paypal-charge-customer">Paypal 使用已綁定支付方式收費</a><br/>

    <h3>Paypal - 收費測試</h3>
    <a href="/checkouts">Paypal Drop In UI</a><br/>
    <a href="/paypal">Paypal Hosted Fields</a><br/>

    <h3>Stripe</h3>
    <a href="/bind">Stripe 綁定/儲存支付方式 測試</a><br/>
    <a href="/charge">Stripe 收費測試</a><br/>



</div>


</div></body>
</html>
